Repository JonnyBoy-K/ScrubIn: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy:api:preview, deploy:web:preview

deploy:api:preview:
  stage: deploy
  script:
  - npm install --global vercel
  - vercel pull --yes --environment=preview --token="$TOKEN"
  - vercel build --token="$TOKEN"
  - vercel deploy --prebuilt --token="$TOKEN"

deploy:web:preview:
  stage: deploy
  script:
  - npm install --global vercel
  - vercel pull --yes --environment=preview --token="$TOKEN"
  - vercel build --token="$TOKEN"
  - vercel deploy --prebuilt --token="$TOKEN"

fix: add stage field to jobs
  .gitlab-ci.yml
Due: none

install only api dependenices on api deploy
  .gitlab-ci.yml
  apps/api/src/index.ts
Due: deploy:api:preview

let vercel handle installing dependencies
  .gitlab-ci.yml
  apps/api/package.json
  apps/api/src/index.ts
  pnpm-lock.yaml
Due: deploy:api:preview

switch to remote builds and pass envs to web preview
  .gitlab-ci.yml
  apps/api/src/index.ts
  apps/web/src/app/page.tsx
Due: deploy:api:preview, deploy:web:preview

have preview deploy jobs trigger on merges/pushes to dev
  .gitlab-ci.yml
Due: none

add production deploy jobs
  .gitlab-ci.yml
Due: none

Implement UI for sectioning days and UI for date picker.
  apps/web/src/app/page.tsx
Due: deploy:web:preview

add initial schemas for db tables
  apps/api/prisma/schema.prisma
Due: deploy:api:preview

add migration for initializing tables
  apps/api/prisma/migrations/20251022032033_init/migration.sql
  apps/api/prisma/migrations/migration_lock.toml
Due: deploy:api:preview

create docker compose for spin up postgres db
  docker-compose.yml
Due: none

add route protection in web middleware
  apps/web/src/middleware.ts
Due: deploy:web:preview

add default home page for unauthenticated users
  apps/web/src/app/dashboard/page.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
Due: deploy:web:preview

fix: remove test endpoint
  apps/api/src/index.ts
Due: deploy:api:preview

Implement date picker, time picker, and employee picker
  apps/web/components/AddShiftModal.tsx
  apps/web/package.json
  apps/web/src/app/dashboard/page.tsx
  apps/web/src/app/page.tsx
  apps/web/src/app/sign-in/[[...sign-in]]/page.tsx
  pnpm-lock.yaml
Due: deploy:web:preview

Turned the dashboard header into its own .tsx file so it can be used on all tabs and created an (app) layout that does not impact sign-up/in
  apps/web/src/app/(app)/Team/page.tsx
  apps/web/src/app/(app)/dashboard/page.tsx
  apps/web/src/app/(app)/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/src/components/AppHeader.tsx
Due: deploy:web:preview

added a signed out page under app and changed (app)/layout to only diaply when signed in
  apps/web/src/app/(app)/dashboard/page.tsx
  apps/web/src/app/(app)/layout.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
Due: deploy:web:preview

add userbutton back to dashboard page
  apps/web/src/app/dashboard/page.tsx
Due: deploy:web:preview

install shadcn and add Card component
  apps/web/components.json
  apps/web/package.json
  apps/web/src/app/globals.css
  apps/web/src/components/ui/card.tsx
  apps/web/src/lib/utils.ts
  pnpm-lock.yaml
Due: deploy:web:preview

Created directory structure and skeleton scripts for api-routes, controllers and middleware
  apps/api/src/controllers/shiftController.ts
  apps/api/src/controllers/shiftRequestController.ts
  apps/api/src/controllers/userController.ts
  apps/api/src/index.ts
  apps/api/src/middleware/authMiddleware.ts
  apps/api/src/routes/shiftRequests.ts
  apps/api/src/routes/shifts.ts
  apps/api/src/routes/test.ts
  apps/api/src/routes/users.ts
Due: deploy:api:preview

forgot to commit schema
  apps/api/prisma/schema.prisma
Due: deploy:api:preview

fix prettier config in api package.json
  apps/api/package.json
Due: deploy:api:preview

Move modal from page.tsx to its own component
  apps/web/components/AddShiftModal.tsx
  apps/web/src/app/dashboard/page.tsx
Due: deploy:web:preview

add name field to Workspace table
  apps/api/prisma/migrations/20251028033027_add_name_workspace/migration.sql
  apps/api/prisma/schema.prisma
Due: deploy:api:preview

create clerk webhook
  apps/api/src/index.ts
Due: deploy:api:preview

add handleWorkspaceCreation method
  apps/web/components/CreateWorkspaceCard.tsx
Due: deploy:web:preview

have workspace card redirect to actual workspace dashboard
  apps/web/components/CreateWorkspaceCard.tsx
  apps/web/components/WorkspaceCard.tsx
Due: deploy:web:preview

add workspace authorization check for specific workspace pages
  apps/web/src/middleware.ts
Due: deploy:web:preview

added drop down functionality with details displayed to the team table and and added a hover effect to the Appheader links and buttons
  apps/web/components/AppHeader.tsx
  apps/web/src/app/(app)/Team/page.tsx
Due: deploy:web:preview

Implement a dummy setup and dummy shift creation
  apps/api/src/index.ts
Due: deploy:api:preview

Fix syntax and frontend fetch
  apps/api/package.json
  apps/api/src/index.ts
  apps/api/supabase/.gitignore
  apps/api/supabase/config.toml
  apps/web/components/AddShiftModal.tsx
  pnpm-lock.yaml
Due: deploy:api:preview, deploy:web:preview

added alert-dialog to the remove button that pops up a confirmation box
  apps/web/package.json
  apps/web/src/app/(app)/Team/page.tsx
  apps/web/src/components/ui/alert-dialog.tsx
  pnpm-lock.yaml
Due: deploy:web:preview

made minor changed to the alert-dialog design
  apps/web/src/app/(app)/Team/page.tsx
Due: deploy:web:preview

created a modal for Add Member button on team page
  apps/web/components/AddMemberModal.tsx
  apps/web/src/app/(app)/Team/page.tsx
Due: deploy:web:preview

add npm script for running db
  apps/api/package.json
  package.json
Due: deploy:api:preview

Remove button now visually removes the user and a message displays when no users are left
  apps/web/src/app/(app)/Team/page.tsx
Due: deploy:web:preview

add acceptedAt field to Invitation table
  apps/api/prisma/migrations/20251102191730_add_accepted_at_to_invitation_table/migration.sql
  apps/api/prisma/schema.prisma
Due: deploy:api:preview

add endpoint to create invitations
  apps/api/src/index.ts
Due: deploy:api:preview

create route for accepting invitations
  apps/api/src/index.ts
Due: deploy:api:preview

Path conditions:
  deploy:api:preview: any of: apps/api/**/*, apps/api/prisma/**/*, packages/schemas/**/*
  deploy:web:preview: any of: apps/web/**/*, packages/schemas/**/*
