Repository JonnyBoy-K/ScrubIn: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy:api:preview, deploy:web:preview

deploy:api:preview:
  stage: deploy
  script:
  - npm install --global vercel
  - vercel pull --yes --environment=preview --token="$TOKEN"
  - vercel build --token="$TOKEN"
  - vercel deploy --prebuilt --token="$TOKEN"

deploy:web:preview:
  stage: deploy
  script:
  - npm install --global vercel
  - vercel pull --yes --environment=preview --token="$TOKEN"
  - vercel build --token="$TOKEN"
  - vercel deploy --prebuilt --token="$TOKEN"

create new layout for navbar in UserAppHeader
  apps/web/components/UserAppHeader.tsx
Due: deploy:web:preview

removed antd css file (we finally fixed it!)
  apps/web/components/ClockinCard.tsx
  apps/web/components/MeetingModal.tsx
  apps/web/src/app/layout.tsx
Due: deploy:web:preview

Implement live reload for user side meeting requests
  apps/web/src/app/workspaces/[id]/admin/requests/meeting/page.tsx
  apps/web/src/app/workspaces/[id]/user/requests/page.tsx
  packages/api-client/src/index.ts
Due: deploy:web:preview

Added view for creating and displaying time-off requests
  apps/web/src/app/workspaces/[id]/user/requests/page.tsx
Due: deploy:web:preview

Fix api access on mobile end
  apps/mobile/api/client.ts
  apps/mobile/package.json
  pnpm-lock.yaml
Due: none

rename timesheet page folder to timesheets
  apps/web/src/app/workspaces/[id]/admin/timesheets/page.tsx
Due: deploy:web:preview

simplify getting active shift logic in clock in card
  apps/web/components/ClockinCard.tsx
Due: deploy:web:preview

temp fix: display actual data in dropdowns
  apps/web/src/app/workspaces/[id]/user/requests/page.tsx
Due: deploy:web:preview

fixed merge conflict with dev
  apps/web/src/app/workspaces/[id]/user/requests/page.tsx
Due: deploy:web:preview

refactor fetching shifts for a month
  apps/mobile/pages/ViewShiftPage.tsx
Due: none

admin can now edit employee timesheets manually. - User story implemented
  apps/api/src/routes/timesheets.ts
  apps/web/components/TimesheetTable.tsx
  packages/api-client/src/index.ts
Due: deploy:api:preview, deploy:web:preview

Add ReadMe
  README.md
  README/Screenshot_2025-12-02_at_2.54.04_PM.png
  README/Screenshot_2025-12-02_at_2.54.26_PM.png
  README/Screenshot_2025-12-02_at_2.55.14_PM.png
  README/Screenshot_2025-12-02_at_2.55.32_PM.png
  README/Screenshot_2025-12-02_at_2.55.57_PM.png
  README/Screenshot_2025-12-02_at_2.56.34_PM.png
  README/Screenshot_2025-12-02_at_2.59.56_PM.png
  README/Screenshot_2025-12-02_at_3.01.48_PM.png
  README/Screenshot_2025-12-02_at_3.03.05_PM.png
  README/Screenshot_2025-12-02_at_3.03.33_PM.png
  README/Screenshot_2025-12-02_at_3.05.01_PM.png
  README/Screenshot_2025-12-02_at_3.05.45_PM.png
Due: none

Path conditions:
  deploy:api:preview: any of: apps/api/**/*, apps/api/prisma/**/*, packages/schemas/**/*
  deploy:web:preview: any of: apps/web/**/*, packages/schemas/**/*
