Repository JonnyBoy-K/ScrubIn: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy:api:preview, deploy:web:preview

.gitlab-ci.yml:

stages:
  # - build
  - deploy

deploy:api:preview:
  stage: deploy
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      changes:
        - apps/api/**/*
        - apps/api/prisma/**/*
        - packages/schemas/**/*

  script:
    - npm install --global vercel
    - vercel pull --yes --environment=preview --token="$TOKEN"
    - vercel build --token="$TOKEN"
    - vercel deploy --prebuilt --token="$TOKEN"

deploy:web:preview:
  stage: deploy
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      changes:
        - apps/web/**/*
        - packages/schemas/**/*    

  script:
    - npm install --global vercel
    - vercel pull --yes --environment=preview --token="$TOKEN"
    - vercel build --token="$TOKEN"
    - vercel deploy --prebuilt --token="$TOKEN"

Implement edit shift fix
  apps/api/src/index.ts
  apps/web/components/AddShiftModal.tsx
Due: deploy:api:preview, deploy:web:preview

Implement range shift search endpoint
  apps/api/prisma/migrations/20251103044510_add_name_feild/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/index.ts
  apps/web/components/AddShiftModal.tsx
Due: deploy:api:preview, deploy:web:preview

added stack navigation in app
  apps/mobile/App.tsx
Due: none

Template Landing page
  apps/api/src/index.ts
  apps/web/src/app/page.tsx
Due: deploy:api:preview, deploy:web:preview

fixed bug in navigation
  apps/mobile/pages/LoginPage.tsx
Due: none

Added main tab bar with 5 tabs for each main page
  apps/mobile/App.tsx
  apps/mobile/components/MainTabs.tsx
  apps/mobile/navigation/TabNavigator.tsx
Due: none

added titles to all the pages
  apps/mobile/components/MainTabs.tsx
  apps/mobile/navigation/TabNavigator.tsx
  apps/mobile/pages/HomePage.tsx
Due: none

Implemented dummy shifts in upcoming shifts in home
  apps/mobile/pages/HomePage.tsx
  apps/mobile/pages/ViewShiftPage.tsx
Due: none

moved (app) files under workspace/id
  apps/web/src/app/(app)/dashboard/page.tsx
  apps/web/src/app/workspaces/[id]/Team/page.tsx
  apps/web/src/app/workspaces/[id]/dashboard/page.tsx
  apps/web/src/app/workspaces/[id]/layout.tsx
Due: deploy:web:preview

Created sign in pages with basic clerk authentication
  apps/mobile/App.tsx
  apps/mobile/pages/EntryPage.tsx
  apps/mobile/pages/LoginPage.tsx
  apps/mobile/pages/SignInPage.tsx
  apps/mobile/pages/SignUpPage.tsx
Due: none

Fixed clerk authentication vie google
  apps/mobile/pages/EntryPage.tsx
  apps/mobile/pages/SignInPage.tsx
  apps/mobile/pages/SignUpPage.tsx
Due: none

created back end functionality on team page and added in all nessesary routes controllers and other modification
  apps/api/package-lock.json
  apps/api/package.json
  apps/api/prisma/migrations/20251111024113_uniq_membership_pair/migration.sql
  apps/api/prisma/schema.prisma
  apps/api/src/controllers/memberController.ts
  apps/api/src/index.ts
  apps/api/src/routes/workspaces.ts
  apps/web/src/app/workspaces/[id]/team/page.tsx
Due: deploy:api:preview, deploy:web:preview

changed layout clerk props to the new non-deprecated ones
  apps/web/src/app/layout.tsx
Due: deploy:web:preview

changed file names
  apps/web/src/app/workspaces/[id]/requests/meeting/page.tsx
  apps/web/src/app/workspaces/[id]/requests/shift/page.tsx
Due: deploy:web:preview

Implement helper functions to get dates.
  apps/web/helpers/time.ts
Due: deploy:web:preview

organize routes into different files and stub routes
  apps/api/src/index.ts
  apps/api/src/routes/invitations.ts
  apps/api/src/routes/meetings.ts
  apps/api/src/routes/permissions.ts
  apps/api/src/routes/roleMemberships.ts
  apps/api/src/routes/roles.ts
  apps/api/src/routes/shiftRequests.ts
  apps/api/src/routes/shifts.ts
  apps/api/src/routes/workspaceMemberships.ts
  apps/api/src/routes/workspaceUsers.ts
  apps/api/src/routes/workspaces.ts
  packages/api-client/src/index.ts
Due: deploy:api:preview

make params optional in api client functions
  packages/api-client/src/index.ts
Due: none

build api client post install
  package.json
Due: none

remove unnecessary comments
  apps/api/src/routes/invitations.ts
  apps/api/src/routes/meetings.ts
  apps/api/src/routes/permissions.ts
  apps/api/src/routes/roleMemberships.ts
  apps/api/src/routes/roles.ts
  apps/api/src/routes/shiftRequests.ts
  apps/api/src/routes/shifts.ts
  apps/api/src/routes/users.ts
  apps/api/src/routes/workspaceMemberships.ts
  apps/api/src/routes/workspaceUsers.ts
  apps/api/src/routes/workspaces.ts
Due: deploy:api:preview

fixed the banner button links to they take you to the correct page
  apps/web/components/AppHeader.tsx
  apps/web/components/RequestsTabBar.tsx
  apps/web/src/app/workspaces/[id]/requests/page.tsx
  apps/web/src/app/workspaces/[id]/requests/shift/page.tsx
Due: deploy:web:preview

added the team page api routes to the new skeleton routes created
  apps/api/src/controllers/memberController.ts
  apps/api/src/routes/workspaceUsers.ts
  apps/web/src/app/workspaces/[id]/team/page.tsx
Due: deploy:api:preview, deploy:web:preview

Correct fetching of shifts to O(1) time and implement shift creation with actual workspaceId
  apps/api/src/index.ts
  apps/web/components/AddShiftModal.tsx
  apps/web/src/app/workspaces/[id]/dashboard/page.tsx
Due: deploy:api:preview, deploy:web:preview

created backend functionality for the requests/shift page
  apps/api/src/controllers/memberController.ts
  apps/api/src/routes/shiftRequests.ts
  apps/web/src/app/workspaces/[id]/requests/shift/page.tsx
  apps/web/src/app/workspaces/[id]/team/page.tsx
  pnpm-lock.yaml
Due: deploy:api:preview, deploy:web:preview

move admin pages into admin folder
  apps/web/components/AppHeader.tsx
  apps/web/components/RequestsTabBar.tsx
  apps/web/components/WorkspaceCard.tsx
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
  apps/web/src/app/workspaces/[id]/admin/requests/layout.tsx
  apps/web/src/app/workspaces/[id]/admin/requests/meeting/page.tsx
  apps/web/src/app/workspaces/[id]/admin/requests/page.tsx
  apps/web/src/app/workspaces/[id]/admin/requests/shift/page.tsx
  apps/web/src/app/workspaces/[id]/admin/team/page.tsx
Due: deploy:web:preview

Made minor style changes
  apps/web/src/app/workspaces/[id]/requests/shift/page.tsx
Due: deploy:web:preview

create user header
  apps/web/components/UserAppHeader.tsx
  apps/web/src/app/workspaces/[id]/admin/layout.tsx
  apps/web/src/app/workspaces/[id]/user/layout.tsx
Due: deploy:web:preview

able to get users by clerk id
  apps/api/src/controllers/userController.ts
Due: deploy:api:preview

add initial layout of shift requests page
  apps/web/src/app/workspaces/[id]/user/requests/page.tsx
Due: deploy:web:preview

routes/shiftRequests.ts now Implements get shift requests GET method added relations in api/prisma/schema.prisma in the shiftRequest table
  apps/api/prisma/schema.prisma
  apps/api/src/routes/shiftRequests.ts
Due: deploy:api:preview

Fix Type Issues
  apps/api/src/routes/shifts.ts
  apps/web/components/AddShiftModal.tsx
  apps/web/src/app/workspaces/[id]/dashboard/page.tsx
Due: deploy:api:preview, deploy:web:preview

use api client in requests page
  apps/api/src/routes/shiftRequests.ts
  apps/web/src/app/workspaces/[id]/user/requests/page.tsx
Due: deploy:api:preview, deploy:web:preview

Comment code, add error alert
  apps/api/src/routes/shifts.ts
  apps/web/components/AddShiftModal.tsx
  apps/web/helpers/time.ts
  apps/web/src/app/workspaces/[id]/dashboard/page.tsx
  apps/web/src/hooks/useApiClient.ts
Due: deploy:api:preview, deploy:web:preview

Merge request fix
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
Due: deploy:web:preview

implemented user route id/shifts
  apps/api/src/controllers/userController.ts
  apps/api/src/routes/users.ts
Due: deploy:api:preview

developed initial version of api client function
  apps/mobile/api/client.ts
Due: none

create current user endpoint in user routes
  apps/api/src/routes/users.ts
Due: deploy:api:preview

added all formatting functions
  apps/mobile/pages/ViewShiftPage.tsx
Due: none

change foreground color back
  apps/web/src/app/globals.css
Due: deploy:web:preview

Implemented basic design for Creating ShiftRequest
  apps/web/src/app/shift-requests/create/page.tsx
Due: deploy:web:preview

remove clerkId and make user id primary instead (will contain clerk id)
  apps/api/prisma/migrations/20251119174342_remove_clerk_id_and_make_user_id_primary/migration.sql
  apps/api/prisma/schema.prisma
Due: deploy:api:preview
