Repository JonnyBoy-K/ScrubIn: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy:api:preview, deploy:web:preview

.gitlab-ci.yml:

stages:
  # - build
  - deploy

deploy:api:preview:
  stage: deploy
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      changes:
        - apps/api/**/*
        - apps/api/prisma/**/*
        - packages/schemas/**/*

  script:
    - npm install --global vercel
    - vercel pull --yes --environment=preview --token="$TOKEN"
    - vercel build --token="$TOKEN"
    - vercel deploy --prebuilt --token="$TOKEN"

deploy:web:preview:
  stage: deploy
  rules:
    - if: $CI_PIPELINE_SOURCE == "push"
      changes:
        - apps/web/**/*
        - packages/schemas/**/*    

  script:
    - npm install --global vercel
    - vercel pull --yes --environment=preview --token="$TOKEN"
    - vercel build --token="$TOKEN"
    - vercel deploy --prebuilt --token="$TOKEN"

update clerk webhook to assign clerk user id to id attribute
  apps/api/src/index.ts
Due: deploy:api:preview

update api endpoints and controller to remove use of removed clerkId field
  apps/api/src/controllers/memberController.ts
  apps/api/src/routes/invitations.ts
  apps/api/src/routes/users.ts
  apps/api/src/routes/workspaceUsers.ts
  apps/api/src/routes/workspaces.ts
  apps/api/src/utils/authz.ts
Due: deploy:api:preview

Shift Requests now don't display to admin until other user has approved and shift cover requests now exists on admin end
  apps/api/src/routes/shiftRequests.ts
  apps/web/src/app/workspaces/[id]/admin/requests/shift/page.tsx
Due: deploy:api:preview, deploy:web:preview

changed toggle to work with user id being a string
  apps/web/src/app/workspaces/[id]/admin/team/page.tsx
Due: deploy:web:preview

added all meeting related tables to the prisma schema
  apps/api/prisma/schema.prisma
Due: deploy:api:preview

created the MeetingModal which is used to create/reschedule meetings
  apps/api/src/controllers/memberController.ts
  apps/api/src/routes/meetings.ts
  apps/web/components/MeetingModal.tsx
  apps/web/src/app/workspaces/[id]/admin/requests/meeting/page.tsx
Due: deploy:api:preview, deploy:web:preview

Implement edit version of ShifModal, hit endpoint for patch request
  apps/api/src/routes/shifts.ts
  apps/web/components/AddShiftModal.tsx
  apps/web/components/ShiftModal.tsx
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
Due: deploy:api:preview, deploy:web:preview

updated the shift-creation for new shiftRequest table
  apps/api/prisma/schema.prisma
  apps/api/src/routes/shiftRequests.ts
Due: deploy:api:preview

Implement error checks.
  apps/api/src/routes/shifts.ts
  apps/web/components/ShiftModal.tsx
Due: deploy:api:preview, deploy:web:preview

Implement calendar view for user
  apps/web/src/app/workspaces/[id]/user/calendar/page.tsx
Due: deploy:web:preview

Git issue duplicate
  apps/web/src/app/workspaces/[id]/user/calendar/page.tsx
Due: deploy:web:preview

autoroute to admin or user page
  apps/web/components/WorkspaceCard.tsx
  apps/web/src/middleware.ts
Due: deploy:web:preview

create schemas package and initial set of types
  apps/mobile/api/client.ts
  apps/mobile/package.json
  apps/mobile/tsconfig.json
  apps/web/components/ClockinCard.tsx
  apps/web/components/ShiftModal.tsx
  apps/web/components/UpcomingScheduleCard.tsx
  apps/web/package.json
  apps/web/tsconfig.json
  packages/schemas/package.json
  packages/schemas/src/index.ts
  packages/schemas/tsconfig.json
Due: deploy:api:preview, deploy:web:preview

fix lots of lint errors (types,etc.)
  apps/api/prisma/schema.prisma
  apps/mobile/pages/SignInPage.tsx
  apps/mobile/pages/SignUpPage.tsx
  apps/web/components/AddShiftModal.tsx
  apps/web/components/ClockinCard.tsx
  apps/web/components/InvitationCard.tsx
  apps/web/components/MeetingModal.tsx
  apps/web/components/ShiftModal.tsx
  apps/web/components/UpcomingScheduleCard.tsx
  apps/web/components/UserAppHeader.tsx
  apps/web/src/app/invitations/[id]/page.tsx
  apps/web/src/app/shift-requests/create/page.tsx
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
  apps/web/src/app/workspaces/[id]/admin/requests/meeting/page.tsx
  apps/web/src/app/workspaces/[id]/admin/requests/shift/page.tsx
  apps/web/src/app/workspaces/[id]/admin/team/page.tsx
  apps/web/src/app/workspaces/[id]/user/requests/page.tsx
  apps/web/src/app/workspaces/page.tsx
  apps/web/src/middleware.ts
  apps/web/tsconfig.json
  package.json
  packages/schemas/src/index.ts
  pnpm-lock.yaml
Due: deploy:api:preview, deploy:web:preview

fix some type problems
  apps/web/components/InvitationCard.tsx
  apps/web/src/app/invitations/[id]/page.tsx
  apps/web/src/app/shift-requests/create/page.tsx
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
  apps/web/src/app/workspaces/[id]/user/dashboard/page.tsx
  apps/web/src/app/workspaces/page.tsx
  packages/schemas/src/index.ts
Due: deploy:api:preview, deploy:web:preview

remove cds in deploy jobs
  .gitlab-ci.yml
Due: none

whitelist envs in turbo.json
  turbo.json
Due: none

add prisma db push to postinstall
  apps/api/package.json
Due: deploy:api:preview

add DIRECT_URL to turbo.json
  turbo.json
Due: none

update prisma imports
  apps/api/src/controllers/memberController.ts
  apps/api/src/controllers/shiftController.ts
  apps/api/src/index.ts
  apps/api/src/routes/invitations.ts
  apps/api/src/routes/meetings.ts
  apps/api/src/routes/permissions.ts
  apps/api/src/routes/roleMemberships.ts
  apps/api/src/routes/roles.ts
  apps/api/src/routes/shiftRequests.ts
  apps/api/src/routes/shifts.ts
  apps/api/src/routes/timeOffRequests.ts
  apps/api/src/routes/users.ts
  apps/api/src/routes/workspaceMemberships.ts
  apps/api/src/routes/workspaceUsers.ts
  apps/api/src/routes/workspaces.ts
  apps/api/src/utils/authz.ts
Due: deploy:api:preview

update api router imports to use .js
  apps/api/src/index.ts
Due: deploy:api:preview

update authz imports
  apps/api/src/routes/meetings.ts
  apps/api/src/routes/workspaces.ts
Due: deploy:api:preview

update membercontroller import
  apps/api/src/routes/workspaceUsers.ts
Due: deploy:api:preview

fixed minor bugs in time off route and shift request route
  apps/api/src/routes/shiftRequests.ts
  apps/api/src/routes/timeOffRequests.ts
Due: deploy:api:preview

rename ci file so it is not used
  .gitlab-ci.old.yml
Due: none

Implement allowing user to see when the have time off in the calendar/
  apps/web/src/app/workspaces/[id]/user/calendar/page.tsx
  packages/api-client/src/index.ts
Due: deploy:web:preview

create getServerApiClient method
  apps/web/src/lib/apiClient.ts
Due: deploy:web:preview

add timesheets endpoints
  apps/api/src/index.ts
  apps/api/src/routes/timesheets.ts
  packages/api-client/src/index.ts
Due: deploy:api:preview

implement timesheets page with UserSelect and Timesheet Table
  apps/web/components/TimesheetTable.tsx
  apps/web/components/UserSelect.tsx
  apps/web/helpers/time.ts
  apps/web/src/app/workspaces/[id]/admin/timesheet/page.tsx
Due: deploy:web:preview

Added Meeting Requests tab to user dashboard to view and vote on meeting requests
  apps/web/src/app/workspaces/[id]/user/requests/page.tsx
Due: deploy:web:preview

fix infinite fetching for api client
  apps/web/components/CreateWorkspaceCard.tsx
  apps/web/components/InvitationCard.tsx
  apps/web/src/app/workspaces/[id]/admin/team/page.tsx
Due: deploy:web:preview

convert date strings to actual date objects and add Timesheet type
  apps/web/components/TimesheetTable.tsx
  apps/web/src/app/workspaces/[id]/admin/timesheet/page.tsx
  packages/schemas/src/index.ts
Due: deploy:api:preview, deploy:web:preview

add timesheet link to admin navbar
  apps/web/components/AppHeader.tsx
Due: deploy:web:preview

Implement user feild and date field with automatic population and error checks
  apps/web/components/SingleAddShiftModal.tsx
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
Due: deploy:web:preview

Implement SSE for shifts
  apps/api/src/event.ts
  apps/api/src/routes/shifts.ts
  apps/web/components/AddShiftModal.tsx
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
Due: deploy:api:preview, deploy:web:preview

Restructure SSE stream to be just one stream
  apps/api/src/event.ts
  apps/api/src/routes/events.ts
Due: deploy:api:preview

Clean up old streams and add new stream to index
  apps/api/src/index.ts
  apps/api/src/routes/events.ts
  apps/api/src/routes/shifts.ts
  apps/api/src/routes/workspaces.ts
Due: deploy:api:preview

Create hook to connect SSE endpoint and handle different messages
  apps/api/src/routes/workspaces.ts
  apps/web/src/hooks/useSSE.ts
Due: deploy:api:preview, deploy:web:preview

Implement live reload in workspaces
  apps/api/src/routes/workspaces.ts
  apps/web/src/app/workspaces/page.tsx
  apps/web/src/hooks/useSSE.ts
Due: deploy:api:preview, deploy:web:preview

Implement live reload in adding shifts admin and remove function live reloads
  apps/web/components/AddShiftModal.tsx
  apps/web/components/ShiftModal.tsx
  apps/web/src/app/workspaces/[id]/admin/dashboard/page.tsx
Due: deploy:web:preview
